* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
}

.one {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 500px;
  height: 250px;
}

.one h1 {
  width: 30%;
  float: left;
}

.one p {
  width: 70%;
  float: right;
}
