* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.one {
  display: flex;

  margin-top: 5em;
  justify-content: center;
  align-items: center;
}

img {
  width: 500px;
  height: 250px;
}

.one h1 {
  display: flex;
}