* {
  box-sizing: border-box;
}

body {
  margin: 0;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  font-family: sans-serif;
  background-color: #E5E5E5;
}

@media (max-width: 375px) {

  article, h1{
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

article {
  display: flex;
  justify-content: center;
}

.article_work {
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  margin-right: 5em;
  display: flex;
  flex-flow: row nowrap;

  font-size: 2em;
}


.name {
  margin-top: 0;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid black;
}

.home_p {
  padding-top: 1.5em;
  padding-bottom: 2em;

  max-width: 500px;

  border-bottom: 1px solid black;
}

.green {
  font-weight: 500;
  color: green;
}

.work_link{
  padding: .2em;
  text-decoration: none;
  font-size: 3em;
  color: black;
}

.resume-article {
  margin-top: 5em;
}

.edu {
  margin-bottom: 2em;
  display: flex;
  flex-flow: column;
}

/* .edu-info {
  border: 1px solid red;
} */

.edu-info-year {
  width: 30%;
  float: left;
}

.edu-info-detail {
  width: 70%;
  float: right;
}

.edu-info-year-none {
  color: transparent;
}

/* -----------------FENDI------------------- */

.one, .two, .three, .four{
  max-width: 1200px;
  margin: 2em 0 8em 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

/*   border: 1px solid green; */
}

img {
  max-width: 1000px;
  height: 500px;
}

.p_1 {
  max-width: 700px;
}

.AA {
  margin-right: 5px;
  width: 440px;
  height: 300px;

  float: left;
}

.BB {
  margin-left: 5px;
  width: 310px;
  height: 300px;

  float: right;
}

.CC {
  margin-top: 10px;
  width: 760px;
  height: 180px;
}

.img_C, .img_D, .img_E, .img_F {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.two p {
  margin-top: 2em; 
  max-width: 700px;
}

.three p {
  margin-left: 1em;

  max-width: 300px;
}

.img_C_c, .img_D_d {
  max-width: 700px;
}

.four img {
  margin: 0 10px;
  width: 498px;
  height: 300px;
}

/* -----------------FENDI------------------- */

.exit {
  margin: 2em 0;
  width: 1.5em;
  height: 1.5em;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black
}
