* {
  box-sizing: border-box;
}

body {
  margin: 0;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  font-family: sans-serif;
  background-color: #E5E5E5;
}

article {
  display: flex;
  flex-flow: column;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 2em;
  color: black;
}

.exit {
  width: 2em;
  height: 2em;
}